.base-section {
  background-color: #282c34;
  @apply h-screen;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.h1 {
  @apply text-2xl md:text-4xl;
}

.avatar-wrapper {
  @apply rounded-lg bg-white md:shadow-md sm:rounded-lg w-full drop-shadow-lg p-5 max-w-[300px] mx-auto;
}

.avatar {
  @apply rounded-full object-cover;
}

p {
  @apply text-lg;
}